{% extends 'mainapp/temp.html' %}
{% load static %}
{% block content %}
    <section class="breadcrumb_area blog_banner_two">
        <div class="overlay bg-parallax"
             data-stellar-ratio="0.8"
             data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle f_48">post</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="{% url 'mainpage' %}">Home</a>
                    </li>
                    <li class="active">blog_list</li>
                </ol>
            </div>
        </div>
    </section>
    {% for post in object_list %}
        <div class="col-lg-8 posts-list">
            <div class="single-post row">
                <div class="col-lg-12">
                    <h1>
                        <a href="#"></a> {{ post.title }}
                </h2>
                <div class="feature-img">
                    {% comment %} manashu joyda image ishlamayapti {% endcomment %}
                    <img class="img-fluid" src="{{ post.image.url }}" alt="{{post.title}}">
                </div>
            </div>
            <div class="col-lg-3  col-md-3">
                <div class="blog_info text-right">
                    <div class="post_tag">
                        <a href="#">Food,</a>
                        <a href="#">Technology,</a>
                        <a href="#">Politics,</a>
                        <a href="#">Lifestyle</a>
                    </div>
                    <ul class="blog_meta list_style">
                        <li>
                            <a href="#">{{ post.author }}<i class="lnr lnr-user"></i></a>
                        </li>
                        <li>
                            <a href="#">12 Dec, 2017<i class="lnr lnr-calendar-full"></i></a>
                        </li>
                        <li>
                            <a href="#">1.2M Views<i class="lnr lnr-eye"></i></a>
                        </li>
                        <li>
                            <a href="#">06 Comments<i class="lnr lnr-bubble"></i></a>
                        </li>
                        <li>
                            <a href="#">{{ post.author2 }}<i class="lnr lnr-bubble"></i></a>
                        </li>
                    </ul>
                    <ul class="social-links">
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-behance"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 col-md-9 blog_details">
                <p class="excert">
                    {{ post.body| truncatewords:30 }}
                    <a href="{% url "blog-detail" post.pk %}">more</a>
                </p>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
