{% extends "mainapp/temp.html" %}
{% block content %}
    <div class="card">
        <p class="card-description">
            Rostan ham ushbu "{{ worker.first_name  }} {{ worker.last_name}}" o'chirib tashlamoqchimisiz
        </p>
        <div class="card-body">
            <form class="pt-3"   method= "POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary mb-2">Delete</button>
                <a href = "{% url 'worker_t' %}"class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
{% endblock %}
