{% extends 'mainapp/temp.html'%}
{% load widget_tweaks %}
{% load static %}
{% block content %}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Course Create</h4>
        <p class="card-description">
          Basic form layout
        </p>
        <form class="forms-sample" method = "POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputUsername1">name</label>
            {% render_field form.name type="text" class="form-control" id="exampleInputUsername1" placeholder="title" %}
          </div>
          <div class="form-group">
            <label for="exampleInputUsername1">address</label>
            {% render_field form.address type="text" class="form-control" id="exampleInputUsername1" placeholder="title" %}
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">room_qty</label>
            {% render_field form.room_qty type="number" class="form-control" id="exampleInputEmail1" placeholder="price"%}
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">ochilgan_sana</label>
            {% render_field form.ochilgan_sana type="date" class="form-control" id="exampleInputEmail1" placeholder="price"%}
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">yulduzlar_soni</label>
            {% render_field form.yulduzlar_soni type="dropdown" class="form-control" id="exampleInputEmail1" placeholder="price"%}
            
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">telefon_raqam</label>
            {% render_field form.telefon_raqam type="phone2numeric" class="form-control" id="exampleInputEmail1" placeholder="price"%}
            
          </div>


          <div class="form-group">
            <label for="exampleTextarea1">qushimcha_malumot</label>
          
            {% render_field form.qushimcha_malumot tupe="textarea" class="form-control" id="exampleTextarea1" rows="4"%}
            <!--<textarea class="form-control"  name = "description"></textarea>-->
          </div>
         
          <div class="form-check form-check-flat form-check-primary">
            <label class="form-check-label">
              <input type="checkbox" class="form-check-input">
              Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Add course</button>
          <button class="btn btn-light">Cancel</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}